
<odoo>
    <data>
        <!-- ACTIONS -->

        <record id="tax_reduction_list_action" model="ir.actions.act_window">
            <field name="name">Tax reductions</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">tax_reductions.tax_reduction</field>
            <field name="view_mode">tree,form</field>
        </record>


        <!-- MENU ITEM-->
        <menuitem name="Tax reductions" id="tax_reductions_list" sequence="5"
              parent="sale.sale_menu_root" action="tax_reduction_list_action"/>

    </data>
</odoo>